@media (max-width: 1250px) {
    .menu__list li+li {
        margin-left: 35px;
    }
    .advantages__title {
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 15px;
    }
    .advantages__row {
        justify-content: space-between;
    }
    .advanteges__img img {
        height: 370px;
        width: 480px;
        min-height: 0px;
    }
    .advanteges__img {
        max-width: 480px;
    }
    .catalog__item {
        flex-wrap: wrap;
        justify-content: center;

    }
    .catalog__item-img {
        margin-right: 20px;
    }
    .catalog__item-img.catalog-img1 {
        order: 2;
    }
    .catalog__item-box {
        order: 1;
    }
    .catalog__item-title {
        text-align: center;
        max-width: 100%;
    }
    .catalog__item-img img{
        width: 750px;
        height: 380px;
    }
    .catalog__item+.catalog__item {
        margin-top: 0px;
    }
    .catalog__item-img {
        margin-top: 30px;
    }
    .choose__inner {
        justify-content: space-around;
    }
    .choose__item {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 1200px) {
    .header__info-item+.header__info-item {
        margin-left: 20px;
    }
    .header__info-item.icon-marker {
        display: none;
    }
    .catalog__item-img {
        margin-right: 0px;
    }
}

@media (max-width: 1100px) {
    .menu__list li+li {
        margin-left: 25px;
    }
    .menu__list {
        font-size: 15px;
    }
    .header__info-item.icon-mail {
        display: none;
    }
    .advanteges__img img {
        height: 350px;
        width: 450px;
    }
    .advanteges__img {
        max-width: 450px;
    }
}

@media (max-width: 980px) {
    .advantages__row {
        justify-content: center;
        flex-wrap: wrap;
    }
    .advanteges__img {
        margin: 0 auto;
        max-width: 610px;
    }
    .advanteges__img img {
        width: 100%;
    }
    .advantages__descr {
        max-width: initial;
        text-align: center;
    }
    .advanteges__img {
        margin-bottom: 25px;
    }

    .advantages__row-end {
        order: 1;
    }
    .advantages__descr {
        order: 2;
    }
    .join__inner-form {
        padding-left: 30px;
    }
    .join__inner-box {
        max-width: 385px;
    }
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer__col-contacts {
        max-width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    .icon-inst {
        position: relative;
    }
    .footer__col-socials a::after {
        top: -17px;
        right: -30px;
    }
}

@media (max-width: 910px) {
    .header__info-item.icon-clock,
    .header__info {
        display: none;
    }
    .menu {
        height: 0;
    }
    .header__menu-btn {
        margin-right: 25px;
        display: block;
        position: absolute;
        top: 50px;
        right: 0;
    }
    .menu > ul {
        display: none;
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 126px;
        left: 0;
        right: 0;
        background-color: #DF0024;
    }
    .menu__list li+li {
        margin-left: 0;
    }
    .menu li a {
        border-bottom: 2px solid #676767;
    }
    .menu li:last-child a {
        border-bottom: 4px solid #676767;
    }
    .menu__list-wrapper {
        height: auto;
        margin-top: 0px;
    }
    .menu a {
        padding: 14px 0 14px 0px;
        display: block;
    }
    .menu li {
        display: block;
        text-align: center;
    }
    .menu__list-download::after {
        top: 20px;
        right: 20px;
    }
    .menu__list-drop-down::after {
        right: 20px;
        top: 24px;
    }
    .menu-arrow::after {
        top: 24px;
        right: 21px;
    }
    .menu li>ul li:hover .menu-arrow::after {
        transform: rotate(90deg);
    }
    .menu li:hover .menu__list-drop-down::after {
        transform: rotate(0deg);
    }
    .menu-arrow::after {
        top: 20px;
        transform: rotate(90deg);
    }
    .menu .menu__list-wrapper li:hover {
        background-color: #676767;
    }
    .menu .menu__list-wrapper ul li ul li:hover {
        background-color: #DF0024;
    }
    .menu .menu__list-wrapper .menu__list-red.active li{
        border-top: 2px solid #676767;
        border-bottom: none;
    }
    .menu li:hover>ul {
        display: none;
    }
    .menu li>ul li a {
        padding: 14px 0px 14px 0px;
    }
    /* .hide {
        height: 0;
        overflow: hidden;
        opacity: 0;
        position: static;
        width: 100%;
        border-bottom: none;
        padding: 0;
    } */
    .active {
        height: auto;
        overflow: visible;
        opacity: 1;
        display: block !important;
    }

    .menu li ul {
        position: static;
        width: 100%;
    }
    .menu li ul li ul{
        position: static;
        width: 100%;
    }
    .menu__list-wrapper .drop-down__list.active li{
        border-bottom: 2px solid #DF0024;
    }
    .menu__list-wrapper .drop-down__list.active a {
        border-bottom: 0px;
    }
    .menu li>ul li ul.menu__list-red li {
        width: 100%;
    }
    .menu li ul.menu__list-coop {
        width: 100%;
    }
    .catalog__item-img img{
        max-width: 100%;
        height: 380px;
    }
}

@media (max-width: 780px) {
    .choose__inner { 
        display: block;
    }
    .choose__item {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .choose__title {
        width: 100%;
    }
    .join__inner {
        display: block;
    }
    .join__inner-form {
        padding-left: 0px;
    }
    .join__inner-form {
        margin: 0 auto;
    }
    .join__inner-box {
        max-width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer__col-info {
        max-width: 100%;
        text-align: center;
        margin-bottom: 35px;
    }
    .footer__col-catalog {
        text-align: right;
    }
}

@media (max-width: 740px) {
    .product__form-box {
        display: block;
    }
    .product__form-box button {
        margin-top: 20px;
        margin-left: 20px;
    }
}

@media (max-width: 580px) {
    .product__inner-title,
    .advantages__title{
        font-size: 38px;
    }
    .product__list {
        display: block;
    }
    .product__list li+li {
        margin-left: 0px;
    }
    .product__list li {
        margin-top: 15px;
        display: block;
    }
    .product__inner-form {
        margin-bottom: 65px;
    }
    .advantages__text {
        font-size: 16px;
        line-height: 28px;
    }
    .advanteges__img img {
        height: 320px;
    }
    .advanteges__img {
        max-width: 100%;
    }
    .advantages__row {
        margin-bottom: 70px;
    }
    .catalog__item-title,
    .choose__title,
    .join__box-title {
        line-height: 44px;
        font-size: 38px;
    }
    .choose {
        padding: 70px 0 30px;
    }
    .footer__col {
        text-align: center;
        max-width: 100%;
    }
    .footer__inner {
        display: block;
    }
    .footer__col-contacts {
        margin-top: 0;
    }
    .footer__col-list a {
        font-size: 16px;
        margin-bottom: 20px;
    }
}

@media (max-width: 460px) {
    .product__inner-form {
        padding: 30px;
    }
}

@media (max-width: 420px) {
    .product__inner-form {
        padding: 20px;
    }
    .product__inner-title {
        font-size: 32px;
        line-height: 48px;
    }
    .product__form-title,
    .product__form-box button {
        font-size: 14px;
    }
    .product__form-box input::placeholder,
    .product__form-box input {
        font-size: 20px;
    }
    .product__form-box button {
        margin-left: 0px;
    }
    .product__form-box input {
        width: 100%;
    }
    .product__form-box button {
        padding: 20px;
        width: 100%;
    }
    .advanteges__img img {
        height: 280px;
    }
    .advantages__title {
        font-size: 30px;
        line-height: 32px;
    }
    .advantages__text {
        font-size: 16px;
        line-height: 24px;
    }
    .advantages {
        padding-top: 80px;
    }
    .catalog {
        padding-bottom: 80px;
    }
    .join {
        padding: 70px 0px;
    }
    .footer {
        padding: 70px 0px 70px;
    }
    .join__inner-form button {
        padding: 25px 45px;
    }
    .catalog__item-img img{
        height: 280px;
    }
    .catalog__link-btn {
        width: 100%;
        font-size: 14px;
        padding: 20px 60px 20px 55px;
    }
    .catalog__link-btn::after {
        top: 45%;
        right: 30px;
    }
    .catalog__item-link {
        height: 60px;
    }
    .catalog__item-link a {
        font-size: 14px;
        line-height: 18px;
    }
    .choose__item-text,
    .join__box-text {
        line-height: 30px;
    }
}



@media (min-width: 911px) {
    .menu > ul {
        display: block !important;
    }
}